{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flask{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&time;</button>
            {{ message }}
        </div>
    </div>
        {% endfor %}
        <h1> welcome to flask world</h1>
    <hr>
    <ul class="posts">

    <li class="post">
        <h2><a href="{{ url_for('blog.post_detail', id=post.id ) }}"> {{ post.title }}</a></h2>
        <div class="post-content">
            <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
            <div class="post-author"><a href="{{ url_for('main.profile', user_name=post.author.user_name) }}">{{ post.author.user_name }}</a></div>
            <div class="post-body">
                {% if post.content_html %}
                    {{ post.content_html | safe }}
                {% else %}
                    {{ post.content }}
                {% endif %}
            </div>
        </div>
    </li>
    <div class="post-footer">
    {% if current_user == post.author %}
        <a href="{{ url_for('blog.post_edit', id=post.id) }}">
            <span class="label label-primary">Edit</span>
        </a>
        {% elif current_user.is_administrator() %}
        <a href="{{ url_for('blog.edit', id=post.id) }}">
            <span class="label label-danger">Edit [Admin]</span>
        </a>
        {% endif %}
        <a href="{{ url_for('blog.post_detail', id=post.id) }}">
            <span class="label label-default">Permalink</span>
        </a>
        <a href="{{ url_for('blog.post_detail', id=post.id) }}#comments">
            <span class="label label-primary">{{ post.comments.count() }} Comments</span>
        </a>
    </div><hr>
    <h4 id="comments">Comments</h4>
    {% if current_user.can(Permission.COMMENT) %}
    <div class="comment-form">
        {{ wtf.quick_form(form) }}
    </div><hr>
    {% endif %}
    {% include 'blog/_comment.html' %}
    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'blog.post_detail', fragment='#comments', id=post.id) }}
    </div>
    {% endif %}

    </ul>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}